link(rel='import', src='../../polymer/polymer.html')

polymer-element(name='arun-element' attributes='whateveryount')
    template
        //this is where the body of your element goes
        link(rel='stylesheet', src='arun-element.css')
        content
    script(src='arun-element.js')