link(rel='import', href='../../../polymer/polymer.html')

polymer-element(name='aimee-card')
    template
        link(rel='stylesheet', href='aimee-card.css')
        #container
            content
    script(src='aimee-card.js')
