<launch>
	<!-- Starts the two computer vision nodes (front and down) -->

  <!-- Loads the appropriate parameters used by the computer vision package -->
  <rosparam command="load" file="$(find computer_vision)/config/cvBase.yaml"/>

  <rosparam command="load" file="$(find computer_vision)/config/gate.yaml"/>

  <arg name="isUsingSimulation" default="0"/>

  <group if="$(arg isUsingSimulation)">
    <!-- Loads parameters that are specific to the simulation environment -->
    <rosparam command="load" file="$(find computer_vision)/config/simulationSpecific.yaml"/>
  </group>

  <group unless="$(arg isUsingSimulation)">
    <!-- Loads parameters that are specific to the camera nodes and the competition-->
    <rosparam command="load" file="$(find computer_vision)/config/realitySpecific.yaml"/>
  </group>

  <!-- Launches cv_front node. -->
  <node name="cv_front" pkg="computer_vision" type="cv_front_node" respawn="true" output="screen">
    <!-- Defines what object will the cv_front_node be searching after the initialization. -->
    <param name="cv_front_detect_object" type="str" value="" />
  </node>

  <!-- Launches the cv_down node. -->
  <node name="cv_down" pkg="computer_vision" type="cv_down_node" respawn="true" output="screen">
    <!-- Defines what object will the cv_down_node be searching after the initialization. -->
    <param name="cv_down_detect_object" type="str" value="" />
  </node>

</launch>
