<launch>
  <!-- LAUNCH SIMULATOR -->

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched --> 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simulator)/worlds/simulator.world"/>
    <arg name="verbose" value="true"/>
    <!-- more default parameters can be changed here -->
  </include>

  <!-- Optionally run the camera visualization -->
  <arg name="showCameraFeeds" default="0"/>
  <group if="$(arg showCameraFeeds)">
    <node name="view_camera_1" pkg="image_view" type="image_view"
        args="image:=/simulator/camera1/image_raw"/>
    <node name="view_camera_2" pkg="image_view" type="image_view"
        args="image:=/simulator/camera2/image_raw"/>
    <node name="view_camera_3" pkg="image_view" type="image_view"
        args="image:=/simulator/camera3/image_raw"/>
  </group>

</launch>
