<launch>
    <!-- Launch both nodes -->
    <node name="controls" pkg="controls" type="controls" respawn="false" output="screen">
    	<rosparam command="load" file="$(find controls)/config/gains.yaml" />
    </node>
    <node name="thrust_mapper" pkg="controls" type="thrust_mapper" respawn="false" output="screen">
      <remap from="thrust_cmds" to="electrical_interface/motor"/>
    </node>
</launch>
