:host
    width 600px
    height 400px
    -webkit-tap-highlight-color transparent

auv-card
    display block
    width inherit
    height inherit
    margin inherit

.selected
    background-color silver

.item
    box-sizing border-box
    height 20px
    border-bottom 1px solid #ddd
    cursor default
    overflow hidden

.debug
    color green

.warn
    color orange

.error
    color red
    font-weight bold

.log, .verbose
    color black
