
link(rel='import', href='../../polymer/polymer.html')
link(rel='import', href='../../core-icons/core-icons.html')
link(rel='import', href='../auv-card/auv-card.html')

polymer-element(name='map-element' attributes='title')
    template
        link(rel='stylesheet', href='map-element.css')
    script(src='map-element.js')
    
    
