
link(rel='import', href='../../polymer/polymer.html')

polymer-element(name='map-element' attributes='info')
    template
        link(rel='stylesheet', href='map-element.css')
        content
    script(src='map-element.js')
