doctype html
html(lang='en')
  head

    //- Compatibility
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='description', content='Robotics AUV 2015 webpage')

    //- Title
    title= title

    //- Scripts
    link(rel='stylesheet', href='style/style.css', shim-shadowdom)
    script(src='platform/platform.js')
    link(rel='import', href='components/elements/index_elements.html')
    script(src='/socket.io/socket.io.js')
  body(fullbleed unresolved)
    #positionContainer
        #elementContainer
            auv-globals#globals(controls='false')
            //(controls= dev ? 'true': 'false')
            //auv-card#scroll(title='Title' controls)
                .cont(main)
                    h3 Content
                    p this
                    p is
                    p a
                    p test
                    p to
                    p see
                    p some
                    p scrolling
                    p lets
                    p see
                    p what
                    p happens
                #controls(control)
                    h3 Controls
            //auv-card
                .cont(main)
                    h3 More content
            //auv-card(title='Image' shadow z=1)
                .cont(main)
                    img(src='img/favicon.gif')
            auv-log
    script.
        var socket = io();
        window.addEventListener('polymer-ready', function(e) {
            var globals = document.getElementById('globals');
            console.log(globals.values);
        });
