html,
body {
  height: 100%;
  margin: 0;
  background-color: #e5e5e5;
  font-family: 'RobotoDraft', sans-serif;
}
auv-card {
  display: block;
  width: 800px;
  height: 1000px;
}
auv-card,
auv-log {
  margin: 0px auto;
}
auv-card + auv-card,
auv-log + auv-log {
  margin: 20px auto;
}
