html, body
    height 100%
    padding 0
    margin 0

body
    font-family 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial
    font-weight 300
    background-color #f1f1f3

h2, h3
    font-weight 300
    margin 0

h3
    font-weight 400

#positionContainer
    position absolute
    top 20px
    width 100%

#elementContainer
    position relative
    width inherit

auv-card, auv-log
    margin 0px auto

auv-card + auv-card, auv-log + auv-log
    margin 20px auto

auv-card
    display block
    width 400px
    height 100px

#scroll
    height 300px

@media all and (max-width: 400px)
    auv-card, auv-log
        width 275px
