link(rel='import', href='../../../polymer/polymer.html')
link(rel='import', href='../../auv-card/auv-card.html')

polymer-element(name='depth-graph' attributes="width height labels values colors")
    template
        link(rel='stylesheet', href='depth-graph.css')
        auv-card
            canvas(id="canvas" width="{{width}}" height="{{height}}")

    script(src='depth-graph.js')
   // script(src='Chart.js')

