<link rel="import" href="../polymer/polymer.html">

<polymer-element name="my-element">
....template
		link(rel='', href='Oliver.css')
....#corecard(vertical layout)
		<p id="p">Enter something:</p>
		<input id="Word" type="String">
		<button type="button" id="button" onclick="myFunction()">Click me</button>
	</core-card>

</polymer-element>
